* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  cursor: url("./Images/cursor.png"), auto;
}
/* Chrome,Safari,Edge,Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FireFox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green;
}
.redColor {
  color: red;
}
